.header {
  height: 72px;
  padding: 0 40px;
  background: #ffffff;
  border-bottom: 1px solid #e5e7eb;

  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: "Inter", sans-serif;
}

/* LEFT */
.logo {
  font-size: 22px;
  font-weight: 700;
  color: #7ED0F3;
  cursor: pointer;
}

/* CENTER */
.header-center {
  display: flex;
  gap: 28px;
}

.header-center a {
  text-decoration: none;
  font-size: 16px;
  font-weight: 500;
  color: #374151;
  position: relative;
}

.header-center a::after {
  content: "";
  position: absolute;
  bottom: -6px;
  left: 0;
  width: 0;
  height: 2px;
  background: #7ED0F3;
  transition: 0.3s;
}

.header-center a:hover::after {
  width: 100%;
}

/* RIGHT */
.header-right {
  display: flex;
  align-items: center;
  gap: 18px;
}

.login-btn {
  text-decoration: none;
  font-weight: 500;
  color: #374151;
}

.signup-btn {
  padding: 8px 20px;
  background: #7ED0F3;
  border: none;
  border-radius: 8px;
  color: white;
  font-weight: 600;
  cursor: pointer;
}

.signup-btn:hover {
  background: #5BBEE8;
}
