/* danh sách card */
.student-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  gap: 24px;
  padding: 20px;
}

/* card */
.student-card {
  border: 1px solid #ddd;
  border-radius: 12px;
  padding: 12px;
  background: #fff;

  display: flex;
  flex-direction: column;
  height: 420px;
}

/* ảnh */
.student-card img {
  width: 100%;
  height: 260px;
  object-fit: cover;
  border-radius: 8px;
}

/* thông tin */
.student-info {
  margin-top: auto;
}

.student-info h3 {
  margin: 8px 0 4px;
}
